
.wrapper{
    max-width:2500px;
    width:100%;
    margin:auto;
    margin-top:20px;
}


@media only screen and (max-width: 2500px) {
    .wrapper{
        margin-top:0px;
        padding:0px 10px;
        box-sizing:border-box;
    }
    h1{
        font-size:105px;
        text-align:center;
        margin:0px;
        padding:10px 0px;
        color:rgb(148, 83, 9);
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }
    
h2{ 
    color: rgb(148, 83, 9);
    font-family: 'Franklin Gothic Medium';
    font-size: 23px;
    font-style: italic;
    padding-top: 60px;
    text-align: left;
    margin-left: 80px;
    }

    h3{ 
    color: rgb(148, 83, 9);
    font-family: 'Franklin Gothic Medium';
    font-size: 21px;
    font-style: italic;
    padding-top: 140px;
    margin: 0;
    text-align: right;
    margin-left: 900px;
    margin-right: 60px;
    }

    body{
    background-image: url('../images/ballon.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
    background-position-y: top;
    }

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin-right: 100px;
    }

    a{
    color: rgb(158, 125, 65);
    text-align: left;
    padding-top: 0px;
    }
}
 

 
@media only screen and (max-width: 900px) {
    h1{
        font-size:55px;
        text-align:center;
        margin:0px;
        padding:10px 0px;
        color:rgb(148, 83, 9);
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }

    h2{ 
    color: rgb(148, 83, 9);
    font-family: 'Franklin Gothic Medium';
    font-size: 19px;
    font-style: italic;
    padding-top: 60px;
    margin: 0;
    text-align: right;
    margin-right: 20px;
    }

    h3{ 
    color: rgb(148, 83, 9);
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    font-style: italic;
    padding-top: 140px;
    margin-right: 230px;
    margin-left: 20px;
    text-align: left;
    }


  body{
    margin: 30‰;
    background-image: url('../images/ballon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-position-y: top;
    }

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin: 20px;
    }

    a{
    color: rgb(158, 125, 65);
    text-align: left;
    padding-top: 0px;
    }
}

 
@media only screen and (max-width: 400px) {
    h1{
        font-size: 40px;
        text-align:center;
        margin:0px;
        padding:10px 0px;
        color:rgb(148, 83, 9);
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }
    
    h2{ 
    color: rgb(101, 88, 114);
    font-family: 'Franklin Gothic Medium';
    font-size: 16px;
    font-style: italic;
    padding-top: 15px;
    margin: 0;
    text-align: right;
    margin-right: 20px;
    }

    h3{ 
    color: rgb(148, 83, 9);
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    font-style: italic;
    padding-top: 60px;
    margin-left: 30px;
    margin-right: 130px;
    text-align: left;
    }

    body{
    margin: 30‰;
    background-image: url('../images/ballon.png');
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: left;
    }

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin: 10px;
    }

    
    a{
    color: rgb(158, 125, 65);
    text-align: left;
    padding-top: 0px;
    }

}

ul{
    list-style-type: none;
}
.btn{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(138, 99, 48);
}

.dropdown-item{
    color: rgb(138, 99, 48);
}


.dropdown-menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

