
.wrapper{
    max-width:2500px;
    width:100%;
    margin:auto;
    margin-top:20px;
}


@media only screen and (max-width: 2500px) {
    .wrapper{
        margin-top:0px;
        padding:0px 10px;
        box-sizing:border-box;
    }
    h1{
        font-size:105px;
        text-align:center;
        margin:0px;
        padding:10px 0px;
        color:burlywood;
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }
    

    h3{ 
    color: rgb(128, 128, 128);
    font-family: 'Franklin Gothic Medium';
    font-size: 28px;
    font-style: italic;
    padding-top: 40px;
    margin: 0;
    text-align: left;
    margin-left: 170px;
    }

    body{
    background-image: url('images/turtle.png');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: right;
    background-position-y: top;
    }

   
    .footer{
    color: rgb(100, 177, 170);
    font-family: 'Fantasy';
    font-size: 25px;
    font-style: italic;
    margin-top: 160px;
    text-align: center;
    } 

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin-right: 100px;
}
}
 

 
@media only screen and (max-width: 900px) {
    h1{
        font-size:55px;
        text-align:center;
        margin:0px;
        padding:10px 0px;
        color:rgb(25, 117, 105);
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }


h3{ 
    color: rgb(128, 128, 128);
    font-family: 'Franklin Gothic Medium';
    font-size: 22px;
    font-style: italic;
    padding-top: 20px;
    margin: 0;
    text-align: left;
    margin-left: 40px;
    margin-right: 230px;
    }

    .footer{
    color: rgb(100, 177, 170);
    font-family: 'Fantasy';
    font-size: 17px;
    font-style: italic;
    margin-top: 270px;
    text-align: center;

    } 

  body{
    margin: 0‰;
    background-image: url('images/turtel.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-position-y: bottom;
    }

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin: 20px;
}
}
 
@media only screen and (max-width: 400px) {
    h1{
        font-size: 40px;
        text-align:center;
        margin:15px;
        padding:10px 0px;
        color:rgb(25, 117, 105);
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }

    h3{ 
    color: rgb(128, 128, 128);
    font-family: 'Franklin Gothic Medium';
    font-size: 16px;
    font-style: italic;
    padding-top: 0px;
    margin: 0;
    text-align: left;
    margin-left: 20px;
    }

    body{
    margin: 0‰;
    background-image: url('../images/turtel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-position-y: top;
    }
    
    .footer{
    color:rgb(100, 177, 170);
    font-family: 'Fantasy';
    font-size: 15px;
    font-style: italic;
    margin-top: 180px;
    margin-right: 15px;
    margin-left: 160px;
    text-align: right;
    } 

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin: 10px;
}
}

.btn{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(138, 99, 48);
}

.dropdown-item{
    color: rgb(138, 99, 48);
}


.dropdown-menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}