
.wrapper{
    max-width:2500px;
    width:100%;
    margin:auto;
    margin-top:20px;
}


@media only screen and (max-width: 2500px) {
    .wrapper{
        margin-top:0px;
        padding:0px 10px;
        box-sizing:border-box;
    }
    h1{
        font-size:105px;
        text-align:center;
        margin:0px;
        padding:10px 0px;
        color:burlywood;
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }
    
    h2{ 
    color: rgba(186, 167, 255);
    font-family: 'Franklin Gothic Medium';
    font-size: 28px;
    font-style: italic;
    text-align: left;
    margin-left: 85px;
    }

    h3{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
    font-style: italic;
    padding-top: 40px;
    text-align: center;
    margin-left: 50px;
    }

    body{
    background-image: url('../images/fox.PNG');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: right;
    background-position-y: top;
    }

   
    h4{
    color:rgb(186, 167, 255);
    font-family: 'Fantasy';
    font-size: 55px;
    font-style: italic;
    margin-top: 100px;
    margin-left: 110px ;
    text-align: left;
    } 

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin-right: 100px;
    }
}
 

 
@media only screen and (max-width: 900px) {
    h1{
        font-size:55px;
        text-align:center;
        margin:0px;
        padding:10px 0px;
        color:burlywood;
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }

    h2{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 22px;
    font-style: italic;
    padding-top: 150px;
    margin: 0;
    text-align: center;
    }

    h3{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    font-style: italic;
    padding-top: 20px;
    margin: 0;
    text-align: center;
    }

    h4{
    color:rgb(186, 167, 255);
    font-family: 'Fantasy';
    font-size: 25px;
    font-style: italic;
    margin-top: 180px;
    margin-left: 30px ;
    text-align: left;
    } 

  body{
    margin: 30‰;
    background-image: url('../images/fox.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-position-y: top;
    }

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin: 20px;
}
}
 
@media only screen and (max-width: 400px) {
    h1{
        font-size: 40px;
        text-align:center;
        margin:0px;
        padding:10px 0px;
        color:burlywood;
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }
    h2{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    font-style: italic;
    padding-top: 65px;
    margin: 0;
    text-align: center;
    }

    h3{ 
    color: rgba(128, 128, 128, 0.801);
    font-family: 'Franklin Gothic Medium';
    font-size: 14px;
    font-style: italic;
    padding-top: 8px;
    margin: 0;
    text-align: center;
    }

    body{
    margin: 30‰;
    background-image: url('../images/fox.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-position-y: top;
    }
    
    h4{
    color:rgb(186, 167, 255);
    font-family: 'Fantasy';
    font-size: 25px;
    font-style: italic;
    margin-top: 180px;
    margin-left: 30px ;
    text-align: left;
    } 

    .dropdown{
    text-align: right;
    color: rgb(138, 99, 48);
    margin: 10px;   
    }
}

.btn{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(138, 99, 48);
}

.dropdown-item{
    color: rgb(138, 99, 48);
}


.dropdown-menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

